<div class="inspiration_entry_details">
  <% unless inspiration_entry.tag_list.empty? %>
  <p>
    <%= Spree.t(:tags) %>: <%= inspiration_entry_tag_list_html inspiration_entry %>.
  </p>
  <% end %>
</div>