
<div class="inspiration_entry_summary">
  <% unless inspiration_entry.inspiration_entry_image.nil? %>
  <div class="inspiration_entry_image">
    <%= image_tag inspiration_entry.inspiration_entry_image.attachment.url(:large) %>
  </div>
  <% end %>
  <h3><%= link_to inspiration_entry.title, inspiration_entry_permalink(inspiration_entry) %></h3>
  <p>
    <%== inspiration_entry.entry_summary %>
  </p>
  <span class="inspiration_read_more"><%= link_to Spree.t(:inspiration_read_more), inspiration_entry_permalink(inspiration_entry) %></span>

</div>

