<div id="inspiration_entry_container" class="columns twelve omega">
  <% if !@inspiration_entries.empty? %>
    <ul id="inspiration_entry_entries">
      <% @inspiration_entries.each do |inspiration_entry| %>
        <li>
          <%= render :partial => 'spree/inspiration_entries/inspiration_entry', :locals => {:inspiration_entry => inspiration_entry} %>
        </li>
      <% end %>
    </ul>
    <%= paginate @inspiration_entries %>
  <% else %>
    <p id="no_entries"><%= Spree.t(:no_inspiration_entries) %></p>
  <% end %>
</div>
