<% if recent_inspiration_entries.present? %>
  <div class="recent_inspiration_entries_wrapper">
    <h6><%= Spree.t('inspiration.recent_entries') %></h6>
    <ul class="recent_inspiration_entries">
      <% recent_inspiration_entries.each do |inspiration_entry| %>
        <li>
          <%= link_to(inspiration_entry_permalink(inspiration_entry)) do %>
            <%= inspiration_entry.title %>
            <span class="inspiration_entry_date"><%= "#{time_ago_in_words inspiration_entry.published_at} ago" %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>