<% unless blog_entry.pinterest_url.nil? %>
<a data-pin-do="embedBoard" href="<%= blog_entry.pinterest_url %>" data-pin-scale-width="80" data-pin-scale-height="320" data-pin-board-width="400"></a>
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<% end %>